gunicorn
cairocffi
CairoSVG
certifi
cffi
chardet
click
cssselect2
defusedxml
Flask
html5lib
idna
itsdangerous
Jinja2
MarkupSafe
pdfrw
Pillow
pkg-resources
pycparser
Pyphen
requests
six
tinycss2
urllib3
WeasyPrint
webencodings
Werkzeug
